@import url('https://fonts.googleapis.com/css?family=Galada');
.logo{
	font-size: 1.9em;
	font-family: 'Galada', cursive;
	color:#0069D9
}
.contenedor{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}
img{
	width: 200px;
	height: 200px;
}
.ancho{

	width: 15em;
}
.t2{
   font-size: 11px;
}
.ancho1{
	width: 800px;

}
.ocultar{
	display: none !important;
}